<h1><%= @project.name %></h1>
<p>Project Material:<%=  @project.material %></p>
<p>Project Theme: <%= @project.challenge.theme %>
<p>Number of Contestants: <%= @project.number_of_contestants %>
<p>Average Contestant Experience: <%= @project.average_expirience %>